@import "tailwindcss";

:root {
  --background: #faf9f9;
  --foreground: #171717;
  --secondaryBg: #011325;
  --secondaryText: #ccd2d7;
  --primaryBg: #4c0000;
  --primaryText: #802626;
  --darkText: #737373;
  --yellowText: #c69824;
  --boxBg: #fdf3ed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondaryBg);
  --color-primaryBg: var(--primaryBg);
  --color-darkText: var(--darkText);
  --color-yellowText: var(--yellowText);
  --color-secondaryText: var(--secondaryText);
  --color-primaryText: var(--primaryText);
  --color-boxBg: var(--boxBg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-figTree: var(--font-figTree);
  --font-cantataOne: var(--font-cantataOne);
  --font-redHat: var(--font-redHat);
  --font-georgia: var(--font-georgia);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf9f9;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figTree);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cantataOne);
  letter-spacing: -0.02em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
